aniso8601==3.0.2
bcrypt==3.1.4
cffi==1.11.5
click==6.7
Flask==1.0.2
Flask-Jsonpify==1.5.0
Flask-JWT==0.3.2
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pycparser==2.19
PyJWT==1.4.2
pytz==2018.5
six==1.11.0
SQLAlchemy==1.2.12
Werkzeug==0.14.1
